.media-container {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.pagination li{
  padding: 10px;
  border: 1px solid #dee2e6;

}
.pagination li.active{

z-index: 1;
color: #fff!important;
background-color: #007bff;
border-color: #007bff;
}

.pagination li.active a{

  color: #fff!important;
}